<h2>{{nameOfStore}}</h2>
<div>
  <p> location:{{location}}</p>
  <p> Owner:{{owner}}</p>
  <p> Rent:£{{rating}}</p>
  

 {{#if stores}}
  <h2>stores:</h2>
  <ul>
    {{#each stores}}
    <li>{{title}}</li>
    {{/each}}
  </ul>
  {{else}}
  <h2>Profile</h2>
  <form action="/auth/{{_id}}/edit" method="post">
    {{#each storeList}}
    <input id="{{title}}" type="checkbox" name="store" value="{{_id}}">
    <label for="{{title}}">{{title}}</label>
    <br />
    {{/each}}

    <button type="submit">Add to the favourites</button>
    <a href="/store/{{_id}}/edit">Edit</a>
    <a href="/store/{{_id}}/delete">Delete</a>
  </form>
  {{/if}}
</div>